body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    top: 100px;
}

#input-task {
    width: 20vw;
    border: none;
    border-bottom: 2px solid orange;
}

button {
    font-family: 'Montserrat', sans-serif;
}

#task-list {
    list-style: none outside;
    padding-inline-start: 0px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: grey;
}

h1 {
    text-align: center;
    font-size: 3em;
}

[type="checkbox"]:checked + span {
    text-decoration: line-through;
    opacity: .5;
}

li {
    display: flex;
    list-style: none outside;
    margin: 7px auto;
}

span {
    flex-grow: 3;
    margin-left: 2%;
}